pkgbase = solo2-cli
	pkgdesc = Solo 2 CLI
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/solokeys/solo2-cli
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = systemd
	depends = systemd-libs
	depends = ccid
	source = solo2-cli-0.1.1.tar.gz::https://github.com/solokeys/solo2-cli/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = b17b6e846089f61af2ae58784f05daf2f17de4a63e8a890f9f525880b7e590be

pkgname = solo2-cli
