[package]
name = "solo2"
version = "0.0.3"
authors = ["SoloKeys Developers"]
edition = "2018"
repository = "https://github.com/solokeys/solo2-cli"
description = "Library and CLI for the SoloKeys Solo 2 security key"
license = "Apache-2.0 OR MIT"
readme = "README.md"
documentation = "https://docs.rs/solo2"

[lib]

[[bin]]
name = "solo2"
required-features = ["cli"]

[dependencies]
log = "0.4.14"
anyhow = "1.0.40"
# ctap-hid-fido2 = "2.1.1"
data-encoding = "2.3.2"
flexiber = { git = "https://github.com/nickray/flexiber", branch = "main", features = ["std"] }
hex = "0.4.3"
hex-literal = "0.3.1"
iso7816 = "0.1.0-alpha.0"
lpc55 = "0.1.0-alpha.7"
pcsc = "2.4.0"
reqwest = { version = "0.11", features = ["json"] }
rust-crypto = "^0.2"
serde_json = "1.0.64"
sha-1 = "0.9.6"
sha2 = "0.9.5"
tokio = { version = "1", features = ["full"] }

# cli
clap = { version = "2.33.3", optional = true }
lazy_static = { version = "1.4.0", optional = true }
pretty_env_logger = { version = "0.4.0", optional = true }

# dev-pki
chrono = { version = "0.4.19", optional = true }
p256 = { version = "0.8.1", optional = true, features = ["pkcs8"] }
pkcs8 = { version = "0.6.0", optional = true, features = ["alloc"] }
rand_core = { version = "0.6.2", optional = true }
rcgen = { version = "0.8.11", optional = true }
yasna = { version = "0.4.0", optional = true }

[features]
default = ["cli"]
cli = ["clap", "lazy_static", "pretty_env_logger"]
dev-pki = ["chrono", "p256", "pkcs8", "rand_core", "rcgen", "yasna"]

[patch.crates-io]
lpc55={path = "/home/conor/lpc55-host"}
